<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Employee Carry Over Days</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/demo.css}" />
<script type="text/javascript" th:inline="javascript"
	th:src="@{/js/user.js}"></script>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" th:href="@{/index}">Tweedy, Browne Co.</a>
	</nav>

	<div class="container">

		<div class="starter-template">
			<div class="pl-5 pt-5 pb-1 mt-3 mb-2 text-center bg-light">
				<h4>Attendance Tracking System</h4>
			</div>

			<!-- show user messages here: save results -->
			<div class="alert alert-success alert-dismissible fade show"
				th:if="${usermessage.message !=null }" id="message"
				th:class="${usermessage.isErrorMessage} ? 'alert alert-danger alert-dismissible fade show' : 'alert alert-success alert-dismissible fade show' ">
				<span th:text="${usermessage.message}"></span>
			</div>

			<h4>
				Carry Over Days Allocation <span th:text="${employee.firstName}" /></span>
				<span th:text="${employee.lastName}"></span>
			</h4>

			<!-- Sub Nav bar -->
			<nav class="navbar navbar-expand-md navbar-light bg-light">

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item "><a class="nav-link"
							th:href="@{/employees/showFormForUpdate(employeeId=${employee.emplId})}">Personal
								Info </a></li>
						<li class="nav-item"><a class="nav-link"
							href="@{/employees/showFormForAddressUpdate(employeeId=${employee.emplId})}">Address</a>
						</li>

						<li class="nav-item"><a class="nav-link"
							th:href="@{/employees/showFormForPhoneUpdate(employeeId=${employee.emplId})}">Phone</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/employees/showFormForNoteUpdate(employeeId=${employee.emplId})}">Note
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/emails/showFormForEmailUpdate(employeeId=${employee.emplId})}">Email</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/vacations/showFormForVacationUpdate(employeeId=${employee.emplId})}">Vacation</a>
						</li>
						<li class="nav-item active"><a class="nav-link disabled"
							th:href="@{/carryovers/showFormForCarryoverUpdate(employeeId=${employee.emplId})}">Vacation
								Carry Over</a></li>
					</ul>

				</div>


			</nav>
			<!-- end of Sub nav bar -->

			<!-- Add carry over record -->
			<a
				th:href="@{/carryovers/addCarryOver(employeeId=${employee.emplId})}"
				class="btn btn-primary btn-sm mt-1 mb-1">Add Carry Over Days</a>
			<!-- End of Add carry over record -->

			<form th:action="@{/carryovers/saveCarryOver}"
				th:object="${carryoversWrap}" method="post">

				<div class="col-md-6"></div>

				<table class="table">
					<thead>
						<tr>
							<th>Vacation Year</th>
							<th>Carry Over Days From Last Year</th>
							<th>Description</th>

						</tr>

					</thead>
					<tbody>
						<tr th:if="*{carryovers.empty}">
							<td colspan="2">No Carry Over Records Available yet.</td>
						</tr>
						<th:block th:each="carryover, itemStat:*{carryovers}">
							<tr>

								<td><input
									th:field="*{carryovers[__${itemStat.index}__].vacationYear}"
									class="form-control form-control-sm"
									oninput="hideSaveMassage()" /></td>
								<td><input
									th:field="*{carryovers[__${itemStat.index}__].carryOverDaysFromLastYear}"
									class="form-control form-control-sm"
									oninput="hideSaveMassage()" /></td>

								</td>

								<td><input
									th:field="*{carryovers[__${itemStat.index}__].description}"
									class="form-control form-control-sm"
									oninput="hideSaveMassage()" /></td>

								<!-- delete button -->
								<td>										
									<button class="btn btn-danger btn-sm" type="submit"
										name="deletecarryover"
										th:value="*{carryovers[__${itemStat.index}__].id}"
										th:data-confirm-delete="|Are you sure you want to delete the carry over for *{carryovers[__${itemStat.index}__].vacationYear}?|"
										onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete
									</button></td>

								<td><input name="vacationYear"
									th:field="*{carryovers[__${itemStat.index}__].id}"
									class="form-control form-control-sm" hidden /></td>
								<td><input
									th:field="*{carryovers[__${itemStat.index}__].emplId}"
									class="form-control form-control-sm" hidden /></td>

							</tr>
						</th:block>
					</tbody>
				</table>
				<!--  	
        	</div>
        	-->
				<!-- end of table of vacations -->
				<hr>

				<button type="submit" class="btn btn-info col-2">Save</button>
			</form>
			<hr>
			<a th:href="@{/employees/list}">Back To Employee List</a>
		</div>

	</div>
	<!-- /.container -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>