<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Add Location</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" th:href="@{/index}">Tweedy, Browne Co.</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
    	<div class="pl-5 pt-5 pb-5 mt-5 mb-5 bg-success"> 
                Bootstrap here 
        </div> 
        <h2 >Save Location</h2>
      
        <form th:action="@{/locations/save}" 
        		th:object="${location}" method="post">
        	      
        	<!-- add a hidden field to handle the update -->
        	
    		<input type="hidden" th:field="*{locationId}"/>
        	
        	<table class="table">
        	
        		<tbody>
        			<tr>
        				<td><span class="label label-default">Office Location</span></td>
        				<td><input type="text" th:field="*{LocationName}" name="locationname" class="form-control mb-4 col-4" 
        					placeholder="location name" /></td>
        			</tr>
        			<tr>
        				<td> <span class="label label-default">Default Location</span></td>
        				<td><input type="checkbox" th:field="*{defaultLocation}" /><br></td>
        			</tr>
        			
        		</tbody>
        	
        	</table>
       		
        	<button type="submit" class="btn btn-info col-2">Save</button>
        </form>
       
       <hr>
     	<a th:href="@{/locations/list}" >Back To Location Directory</a>
        
       
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
