<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Department Form</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/demo.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" th:href="@{/index}">Tweedy, Browne Co.</a>
	</nav>

	<main role="main" class="container">

		<div class="starter-template">
			<div class="pl-5 pt-5 pb-5 mt-5 mb-5 bg-success">Bootstrap here
			</div>
			<h2>Save Department</h2>

			<form th:action="@{/departments/save}" th:object="${department}"
				method="post">

				<!-- add a hidden field to handle the update -->
				<input type="hidden" th:field="*{departmentId}" />
				<!-- -->
				<div class="col-sm-4 mb-3">
					<input type="text" th:field="*{departmentName}"
						class="form-control" placeholder="department name" /> 
						
				</div>
				<div class="col-sm-6 mb-3">
				<span
						class="alert alert-danger"
						th:if="${#fields.hasErrors('departmentName')}"
						th:errors="*{departmentName}"></span>
				</div>
				<div class="col-sm-4 mb-3">
				<input type=text th:field="*{description}"
					class="form-control" placeholder="description" />
				</div>

				<button type="submit" class="btn btn-info col-2">Save</button>
			</form>

			<hr>
			<a th:href="@{/departments/list}">Back To Department Directory</a>

		</div>

	</main>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>