<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Bootstrap NAV bar</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
    	 <div class="pl-5 pt-5 pb-5 mt-5 mb-5 bg-success"> 
                Bootstrap here 
            </div> 
        <h1 >Spring Boot Web Thymeleaf Example</h1>
        <h2 class="funny">
            <span th:text="'Hello, ' + ${theDate}"></span>
        </h2>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
