<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Employee Personal Info</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/demo.css}" />
<script type="text/javascript" th:inline="javascript"
	th:src="@{/js/user.js}"></script>

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" th:href="@{/index}">Tweedy, Browne Co.</a>
	</nav>

	<div class="container">

		<div class="starter-template">
			<div class="pl-5 pt-5 pb-1 mt-3 mb-2 text-center bg-light">
				<h4>Attendance Tracking System</h4>
			</div>

			<!-- show user messages here: save results 
			<div th:if="${usermessage.message !=null }" id="message">
				<p>Saved user updates</p>
			</div>
			-->


			<script>
         	function myFunction() {      	
         		document.getElementById("message").style.display = "none";
        	}
         </script>

			<h2>Employee</h2>

			<!-- Sub Nav bar -->
			<nav class="navbar navbar-expand-md navbar-light bg-light">

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="#">Personal
								Info <span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/employees/showFormForAddressUpdate(employeeId=${employee.emplId})}">Address</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/employees/showFormForPhoneUpdate(employeeId=${employee.emplId})}">Phone</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/employees/showFormForNoteUpdate(employeeId=${employee.emplId})}">Note</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/emails/showFormForEmailUpdate(employeeId=${employee.emplId})}">Email</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/vacations/showFormForVacationUpdate(employeeId=${employee.emplId})}">Vacation</a>
						</li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/carryovers/showFormForCarryoverUpdate(employeeId=${employee.emplId})}">Vacation
								Carry Over</a></li>
					</ul>

				</div>
			</nav>

			<!-- end of Sub nav bar -->

			<div th:if="${message}" th:text="${message}"
				th:class="${'alert ' + alertClass}"></div>

			<form th:action="@{/employees/save}" th:object="${employee}"
				method="post">

				<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
					There are errors on the form.</div>


				<!-- add a hidden field to handle the update -->
				<div class="form-group row">
					<input type="hidden" th:field="*{emplId}" />
				</div>
				<!-- First Name -->
				<div class="form-group row">
					<label for="firstName"
						class="col-md-3 col-form-label col-form-label-md" id="firstname">First
						Name</label>
					<div class="col-md-6">
						<input type="text" th:field="*{firstName}"
							class="form-control form-control-md" id="firstName"
							placeholder="first name" oninput="hideSaveMassage()">
						<p class="alert alert-danger"
							th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}">
					</div>

				</div>
				<div class="form-group row">
					<label for="lastName"
						class="col-md-3 col-form-label col-form-label-md">Last
						Name</label>
					<div class="col-md-6">
						<input type="text" th:field="*{lastName}"
							class="form-control form-control-md" id="lastName"
							placeholder="last name"> <span class="error"
							th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
						<span class="error" th:unless="${#fields.hasErrors('firstName')}">No
							errors</span>
					</div>
				</div>
				<div class="form-group row">
					<label for="middleName"
						class="col-md-3 col-form-label col-form-label-md">Middle
						Name</label>
					<div class="col-md-6">
						<input type="text" th:field="*{middleName}"
							class="form-control form-control-md" id="middleName"
							placeholder="middle name">
					</div>
				</div>

				<div class="form-group row">
					<label for="departmentId"
						class="col-md-3 col-form-label col-form-label-md">Department</label>
					<div class="col-md-6">
						<select class="form-control form-control-md"
							th:field="*{departmentId}" id="departments">
							<!-- 
					    <option value="0">select department</option>
					    -->
							<option th:each="department : ${departments}"
								th:value="${department.departmentId}"
								th:text="${department.departmentName}"></option>
						</select>

						<!--  
        				<input type="text" th:field="*{departmentId}"  class="form-control form-control-md" id="departmentid" placeholder="department">
      				-->
					</div>
				</div>

				<div class="form-group row">
					<label for="phoneIntercomeExt"
						class="col-md-3 col-form-label col-form-label-md">Intercom
						Extension</label>
					<div class="col-md-6">
						<input type="text" th:field="*{phoneIntercomeExt}"
							class="form-control form-control-md" id="phoneIntercomeExt"
							placeholder="phone intercom extension">
					</div>
				</div>

				<div class="form-group row">
					<label for="description"
						class="col-md-3 col-form-label col-form-label-md">Description</label>
					<div class="col-md-6">
						<input type="text" th:field="*{description}"
							class="form-control form-control-md" id="description"
							placeholder="employee description">
					</div>
				</div>
				<!-- check box - active employee -->
				<div class="form-group row">
					<div class="col-sm-3">Active</div>
					<div class="col-sm-6">
						<div class="form-check">
							<input th:field="*{activeStatus}" class="form-check-input"
								type="checkbox" id="active"> <label
								class="form-check-label" for="active"> </label>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<label for="startdate"
						class="col-md-3 col-form-label col-form-label-md">Default
						Vacation Days</label>
					<div class="col-md-6">
						<input type="text" th:field="*{defaultVacationDays}"
							class="form-control form-control-md" id="startdate"
							placeholder="allowed vacation days">
					</div>
				</div>

				<div class="form-group row">
					<label for="startdate"
						class="col-md-3 col-form-label col-form-label-md">Hire
						Date</label>
					<div class="col-md-6">
						<input type="text" th:field="*{startDate}"
							class="form-control form-control-md" id="startdate"
							placeholder="employment start date">
					</div>
				</div>

				<div class="form-group row">
					<label for="resigndate"
						class="col-md-3 col-form-label col-form-label-md">Resign
						Date</label>
					<div class="col-md-6">
						<input type="text" th:field="*{resignDate}"
							class="form-control form-control-md" id="description"
							placeholder="employment termination date">
					</div>
				</div>

				<hr>

				<!--  address section hide
        	
        	<h3>Address</h3>
        	
        	<div class="d-flex justify-content-left">    
        		<a 	class="btn btn-primary text-white btn-sm mb-3"
        			data-toggle="modal"
        			data-target="#viewModal"
        			>Add New Address</a>
        	</div>
        	
        	<div th:if="${not #lists.isEmpty(addresses)}">
        		<table class="table">
        			<thead>
        				<tr>
        					<th>Label</th>
        					<th>Address 1</th>      					
        					<th>Address 2</th>
        					<th>City</th>
        					<th>State</th>
        					<th>Zip</th>
        					<th>Action</th>
        				</tr>
        				
        			</thead>
        			<tbody>
        				<th:block th:each="address:${addresses}">
        					<tr>
        						<td th:text="${address.addressLabel}"/>
        						<td th:text="${address.address1}"/>       						
        						<td th:text="${address.address2}"/>
        						<td th:text="${address.city}"/>
        						<td th:text="${address.state}"/>
        						<td th:text="${address.zip}"/>
        						<td>&nbsp;</td>
        					</tr>
        				</th:block>
        			</tbody>
        		</table>
        	</div>
        	        	
        	
        </form>
       
       
       end of address hide -->

				<button type="submit" class="btn btn-info col-2">Save</button>
			</form>
			<hr>
			<a th:href="@{/employees/list}">Back To Employee List</a>


		</div>

	</div>
	<!-- /.container -->

	<!-- View Modal -->
	<div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Address</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- Modal form to add a new address -->
					<form th:action="@{/employees/addressNew}" th:object="${employee}"
						method="POST" enctype="multipart/form-data">


						<div class="form-group">
							<label for="exampleFormControlSelect1">Address Label</label> <select
								class="form-control" name="addressLabel">
								<option>primary home</option>
								<option>secondary home</option>
								<option>work</option>
								<option>undefined</option>
							</select>
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Address 1</label> <input
								type="text" class="form-control" name="address1"
								aria-describedby="emailHelp" placeholder="Enter address line 1">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Address 2</label> <input
								type="text" class="form-control" name="address2"
								aria-describedby="emailHelp" placeholder="Enter address line 2">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">City</label> <input
								type="text" class="form-control" name="city"
								aria-describedby="emailHelp" placeholder="Enter city">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">State</label> <input
								type="text" class="form-control" name="state"
								aria-describedby="emailHelp" placeholder="Enter state">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Zip</label> <input
								type="text" class="form-control" name="zip"
								aria-describedby="emailHelp" placeholder="Enter zip code">
						</div>

						<div class="form-group">
							<input type="hidden" th:field="*{emplId}" class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{firstName}" class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{lastName}" class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{middleName}"
								class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{departmentId}"
								class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{phoneIntercomeExt}"
								class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{description}"
								class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{activeStatus}"
								class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{startDate}" class="form-control" />
						</div>
						<div class="form-group">
							<input type="hidden" th:field="*{resignDate}"
								class="form-control" />
						</div>

						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add Address</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End of View Modal -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>